body,
.App {
  min-height: 100vh;
}
.navLinks > * {
  text-decoration: none;
  color: rgb(199, 199, 199);
  padding: 0 0.5rem 0 0.5rem;
  font-family: "Roboto", sans-serif;
}
.navLinks > *:hover {
  color: rgb(255, 255, 255);
}
.ucardlink {
  text-decoration: none;
  border: 2px solid rgb(32, 32, 252);
  border-radius: 0.3rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.infoLink {
  text-decoration: none;
  border: 1px solid rgb(32, 32, 252);
  border-radius: 0.3rem;
  padding: 0.3rem 1rem 0.3rem 1rem;
  margin-right: 1rem;
}
.downloadLink {
  text-decoration: none;
  border-radius: 0.3rem;
  background-color: rgb(32, 32, 252);
  color: white;
  padding: 0.3rem 1rem 0.4rem 1rem;
}
.downloadLink:hover {
  color: rgb(32, 32, 252);
  background-color: white;
  border: 1px solid rgb(32, 32, 252);
}

.carouselPics {
  display: block;
  width: 90%;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.carouselCaption {
  background-color: rgba(29, 29, 29, 0.7);
  padding: 1em;
}
.heading {
  text-align: center;
  padding-top: 2rem;
}
.info1,
.info2,
.info3 {
  padding: 0 5rem 2rem 5rem;
}
.footer {
  background-color: #212529;
  color: white;
  width: 100%;
  position: sticky;
  top: 100%;
}

/* Form */
.uid {
  color: rgb(3, 0, 189);
}
.UIcardHolder {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.UIcard {
  width: 100%;
  min-height: 60vh;
  display: flex;
}
.CardContainer {
  min-width: 95%;
  min-height: 75vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
}
.frontPage,
.backPage {
  width: 40rem;
  height: 20rem;
  background-color: wheat;
  border-radius: 0.25rem;
}
.cardHeading {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.cardHeading::after {
  content: "";
  width: 85%;
  height: 0.05rem;
  background-color: #212529;
  position: absolute;
  bottom: 1.4rem;
}
.cardBody {
  width: 90%;
  height: 18vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.cardInfo {
  width: 70%;
}
.cardUID {
  width: 70%;
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}
.buttonHolder > Button {
  margin: 1rem;
  color: #212529;
}

/* CSS VARIABLES */

:root {
  --bg: #e4e4e4;
  --color-primary: #363b3f;
  --color-white: #ffffff;
}

.chatBotIcon {
  background: var(--color-primary);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  width: 67px;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.chatClick {
  cursor: pointer;
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  z-index: 10;
}
.chatBot {
  width: 416px;
  min-height: 629px;
  background: var(--color-white);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.08);
  border-radius: 0.5rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 300ms linear;
  z-index: 10;
}
.chatHeading {
  padding: 1rem;
  height: 10vh;
}
.chatMessage {
  padding: 1rem;
  height: 50vh;
  background-color: whitesmoke;
}
.chatInput {
  width: 100%;
  height: 5vh;
}
.chatInput > input {
  width: 80%;
  height: 3rem;
  font-size: 1rem;
}
.chatInput > button {
  width: 20%;
  height: 3rem;
  background-color: #212529;
  color: white;
  outline: none;
  border: 0.25rem;
}
.errorMSG {
  color: red;
}
.submitBtn {
  margin-bottom: 1.5rem !important;
  margin-top: 1.5rem !important;
}
.switchButton {
  margin-top: 1rem !important;
}

/* ACTIVE CLASSES */

.chatActive {
  position: fixed;
  transform: translateY(-4rem);
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  transition: all 300ms linear;
}

/* MEDIA QUERIES */

@media screen and (max-width: 460px) {
  .chatBot {
    width: 100%;
    height: 640px;
    position: fixed;
    bottom: 4rem;
    right: 0rem;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 300ms linear;
  }

  .chatActive {
    position: absolute;
    transform: translateY(-2rem);
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
    transition: all 200ms linear;
  }
}

.eyeIcon {
  position: relative;
  left: 90%;
  bottom: 4rem;
  cursor: pointer;
}
.eyeIcon2 {
  position: relative;
  left: 90%;
  bottom: 5rem;
  cursor: pointer;
}

/* InfoPage */

.infoSection {
  width: 100%;
  min-height: 83vh;
  background-color: #f5f5f5;
  color: rgb(26, 26, 26);
}
.infoPage {
  width: 80%;
  margin: auto;
  min-height: 80vh;
}
.infoHeading {
  text-align: center;
}
.infoDetails {
  margin-top: 2rem;
  width: 80%;
  margin: auto;
}
